/* ProductSection.module.css */
.navButton {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #860202;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

.cardsWrapper {
  display: flex;
  gap: 16px;
  padding: 40x 20px 150px 0;
  /* Изменили 4px на 20px снизу */
  transition: transform 0.3s ease;
}

.navButton:hover:not(.disabled) {
  background: #9b1e1c;
  opacity: 0.9;
}

.navButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #cccccc;
}

/* Остальные стили остаются прежними */
.cardsContainer {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 20px;
}

.cardsContainer::-webkit-scrollbar {
  display: none;
}



.cardItem {
  flex: 0 0 auto;
  gap: 16px;
}

/* Адаптивность */
@media (max-width: 768px) {
  .cardItem {
    gap: 13px;
  }

  .cardsContainer {
    padding-left: 16px;
  }

  .cardsWrapper {
    padding: 4px 16px 4px 0;
  }
}

@media (max-width: 480px) {
  .cardItem {
    gap: 13px;
  }

  .cardsContainer {
    padding-left: 12px;
  }

  .cardsWrapper {
    padding: 4px 12px 4px 0;
  }
}