.rating_badge {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  max-width: 169px;
}

.rating_content {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rating_value {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: #101010;
}

.stars {
  display: flex;
  gap: 2px;
  align-items: center;
}

